<%= link_to 'upload', new_img_path %>
<%= link_to 'slide', img_path(:id => 1) %>
<% if @user %>
  <%= link_to 'mine', :controller => 'admin' %>
<% end %>

<!-- Slideshow HTML -->
<div id="slideshow">
  <div id="slidesContainer">
    <% @imgs.each do |i| %>
    <div class="slide">
      <%= render :partial => i %>
    </div>
    <% end %>
  </div>
</div>
<!-- Slideshow HTML -->
